#### Import modules and read data

In [1]:
import matplotlib.pyplot as plt
import os
import pandas as pd

In [2]:
xlsx = pd.read_excel(os.getcwd() + '/Data/covid-19-raw-data-4-12-2021.xlsx', sheet_name = ['CasesByDate (Test Date)', 'Hospitalization from Hospitals'], engine = 'openpyxl')

In [3]:
cases, hosptl = xlsx['CasesByDate (Test Date)'], xlsx['Hospitalization from Hospitals']
cases.shape, hosptl.shape

((439, 4), (373, 9))

In [4]:
cases.head()

        Date  Positive Total  Positive New  7-day confirmed case average
0 2020-01-29               1             1                           NaN
1 2020-01-30               1             0                           NaN
2 2020-01-31               1             0                           NaN
3 2020-02-01               1             0                           NaN
4 2020-02-02               1             0                           NaN

In [5]:
hosptl.head()

,Date,Total number of COVID patients in hospital today,Net new number of COVID patients in hospital today,7 day average of COVID hospitalizations,ICU,Net New number ICU,Intubated,Net New number intubated,New COVID-19 hospitalizations
0,2020-04-04,1370,NaN,NaN,438,242,NaN,NaN,NaN
1,2020-04-05,1632,262.0,NaN,526,88,NaN,NaN,NaN
2,2020-04-06,1677,45.0,NaN,542,16,NaN,NaN,NaN
3,2020-04-07,1831,154.0,NaN,575,33,NaN,NaN,NaN
4,2020-04-08,2119,288.0,NaN,659,84,NaN,NaN,NaN